<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  "
>
  <button mat-raised-button color="accent" (click)="openGiftForm()">
    Ajouter un cadeau
  </button>
</div>



<mat-accordion *ngFor="let gift of gifts$ |async">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Nom du cadeau : </mat-panel-title>
      <mat-panel-description>
        {{gift.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-title> Prix : </mat-panel-title>
    <mat-panel-description>
      {{gift.price}}
    </mat-panel-description>
    <mat-panel-title> Description : </mat-panel-title>
    <mat-panel-description>
      {{gift.description}}
    </mat-panel-description>
    <mat-panel-title> Lien : </mat-panel-title>
    <mat-panel-description>
      {{gift.link}}
    </mat-panel-description>
    <mat-action-row>
      <button mat-button color="primary" (click)="openGiftForm(gift)">Modifier</button>
      <button mat-button color="warn" (click)="confirmDelete(gift.id)">Supprimer</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
